.carousel-brands .carousel-brands-slides-container {
  position: relative;
}

.carousel-brands .carousel-brands-slides,
.carousel-brands .carousel-brands-slide-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-brands .carousel-brands-slides {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: scroll clip;
}

.carousel-brands .carousel-brands-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
}

.carousel-brands .carousel-brands-navigation-buttons button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
