.columns-feature > div {
  display: flex;
  flex-direction: column;
}

.columns-feature img {
  width: 100%;
}

@media (width >= 900px) {
  .columns-feature > div {
    flex-direction: unset;
    gap: 24px;
  }
}
